body {
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
    text-align: center;
}
header {
    display: flex;
}
a {
    text-decoration: whitesmoke;
    color: whitesmoke;
}
article{
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
}
#header0 {
    width: 40%;
    height: 100%;
    align-items: center;
    margin-left: 40%;
    margin-top: auto;
}
#header01{
    width: 20%;
    margin-top: auto;
}
#escritalogo {
    margin-right: 50%;
    border: none;
}
#desenho {
    border: none;
}
#bltmenu {
    border: none;
}
.banner1 {
    display: flex;
    margin: auto;
    
}
.banner1:hover{
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all 1s;
    cursor: pointer;
}
#bannerprincipal {
    display: flex;
    background-color: #141212;
    margin: 5%;
    border-radius: 5%;
    
}
#imgm {
    margin-top: 5%;
}

#main1 {
    display: flex;
    margin: 0%;
}
main{
    text-align: center;
    margin: 0%;
}
#title1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
}
#news {
    width: 33%;
    align-items: center;
    text-align: justify;
    background-color: #141212;
    margin: 5%;
    border-radius: 5%;
}
#news:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}
#section01{
    margin: 5%;
    padding: 10%;
}
p {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
  
}
#ppp {
    margin-left: 5%;
    margin-right: 5%;
}
#mainnews {
    margin: auto;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
   
}
h2 {
    margin-top: 5%;
    color: #577de2;
    margin-bottom: 3%;
}
h5 {
    color: #304c89;
    margin-top: 3%;
}
#mainnews0 {
    margin-left: 3%;
    margin-right: 3%;
}
#linha0 {
    width: 100%;
    height: 8px;
}

.lastnews {
    display: flex;
    margin: 5%;
    background-color: rgb(34, 32, 32) ;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}
.lastnews:hover{
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
    border-radius: 5%;
}
#main02 {
    background-color: #141212;


}
#imgnews2 {
    margin: 2%;
}
img {
    border-radius: 3%;
    border: whitesmoke outset;
}

#princi-foto {
    margin-left:3%;
}