body {
    align-items: center;
}
.carrossel {
  box-shadow: 5px 5px 10px black;
  overflow: hidden;
  height: 500px;
  width: 500px;
}
.container {
    display: flex;
    transition: transform 0.7s ease-in-out;
    transform: translateX(0);
}
#immg{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border: none;
    border-radius: 0%;
    margin: auto;
    margin-left: -3%;
    margin-right: -3%;
}
#mm{
    margin-left: 31%;
    margin-top: 3%;
   align-items: center;
  
}
