body {
    background-color: rgb(74, 74, 143);
}
form {
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    border: 3px solid red;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    text-align: center;
}
input {
    background-color: rgb(255, 255, 255);
    border: 3px double; background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    width: 150%;
    height:15px;
}
input:active {
    background-color: rgb(22, 255, 112);
}
input:hover {
    background-color: rgb(22, 255, 112);
}
input:focus {
    border:0;
    background-color:rgb(171, 11, 11);
}
button:active {
background-color:#008000;
}
button:hover {
    background-color: rgb(0, 255, 94);

}

#end2 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
#end3 {
display: flex;
flex-direction: column;
width: 33%;
}
#end4 {
    display: flex;
    flex-direction: column;
    width: 33%;
}
#botao {
    display: flex;
    flex-direction: column;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#forms1 {
    background-color:burlywood;
    align-items: center;
    flex-direction: column;
    height: 33%;
}