/* estilização da estruta*/
form div {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50%;
    font-family: sans-serif;
}
/* estilização das caixas de texto em geral*/
input {
    margin: 4%;
}
/* estilização da caixa de texto do e-mail e do nome*/
#caixatext1 {
    width: 90%;
    height: 10%;
    padding: 5%;
    border: 0;
}
/*estilização de botão de enviar*/
form button {
    width: 100%;
    background: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    margin-left: 4%;
    padding: 15px;


}
/* estilização do botão de enviar quando passamos o ponteiro em cima*/
form button:hover {
    background: whitesmoke;
    color: black;
}

#h1 {
    font-size: 300%;
    text-align: center;
    margin: 5%;
    text-shadow: 30% 30% rgba(33, 33, 33, 0.36);
    color: moccasin;
}
/* estilização do título principal*/
body {
    background-color: #101026;
    color: whitesmoke;
    height: 100%;
}
/* estilização dos títulos das caixas de texto*/
#label {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
}
/* estilização da caixa de texto do comentário*/
#mensag {
    width: 70%;
    height: 10%;
    padding-bottom: 30%;
    padding-right: 30%;
    border: 0;
}
/* estilização dos itens presentes na article*/
article {
    width: 60%;
    margin: auto;
    height: 100vh;
    background-color: #1d1d2e;
}
/* estilização geral*/
* {
    padding: 0%;
    margin: 0;
}

#img2345 {
    margin-left:-5px;
}

.imgmar {
    margin:2%;
    display:flex;
}

#teste1 {
    border:10px pink solid;
}