* {
    margin:0;
    padding:0;
}

#volei1 {
    width: 25%;
    margin: 4%;
    border-radius: 3%;
    border: whitesmoke outset;
}

#title-h2 {
    text-align: center;
}

#par1 {
    text-align: justify;
    margin: 2%;
    padding:2%;
}

body {
    background-color: #222020;
    color:whitesmoke;
}

#hist {
    text-align: center;
    width:50%;
    margin:auto;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-top:5%;
    margin-bottom:5%;
    background-color: #141212;
    border-radius: 5%;
}

#regras1 {
    text-align: center;
    width:50%;
    margin:auto;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-top:5%;
    margin-bottom:5%;
    background-color: #141212;
    border-radius: 5%;
}

#p-regras {
    text-align: justify;
    margin:2%;
    padding:2%;
}

#footer1 {
    margin-bottom:-10px;
}

#im1im2 {
    display: flex;
}
#title1{
    width: 60%;
    font-size: 60px;
    color: azure;
}