<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>Menu lateral</title>
</head>
<header>
<body id="bb">
    <div id="logos">
    <input type="checkbox" id="chec">
    <label for="chec">
        <img id="iconmenu" src="../assets/images/icon menu.png" width="40px">
    </label>
<nav>
    <ul id="ulprinc">
        <li><a href="#" class="linkl">Início</a></li>

        <li>

            <a href="#" class="linkl">Esporte <img class="seta" src="../assets/images/seta-baixo.png" /></a>
            <div class="sub-menu">
                <ul>
                    <li><a href="#" class="linkl">Basquete</a></li>
                    <li><a href="#" class="linkl">Volei</a></li>
                    <li><a href="#" class="linkl">Futebol</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="linkl">Literatura <img class="seta" src="../assets/images/seta-baixo.png"></a> </a>
            <div class="sub-menu">
                <ul id="ul-submenu">
                    <li><a href="#" class="linkl">Livros</a></li>
                    <li><a href="#" class="linkl">Autores</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="linkl">Jogos <img class="seta" src="../assets/images/seta-baixo.png"></a></a>
            <div class="sub-menu">
                <ul id="ul-submenu">
                    <li><a href="#" class="linkl">Valorant</a></li>
                    <li><a href="#" class="linkl">CS:GO</a></li>
                    <li><a href="#" class="linkl">Sons of yhe forest</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="linkl">Música <img class="seta" src="../assets/images/seta-baixo.png"></a></a>
            <div class="sub-menu">
                <ul id="ul-submenu">
                    <li><a href="./ class="linkl"pages/musica/mpb.html">MBP</a></li>
                    <li><a href="#" class="linkl">Trap</a></li>
                    <li><a href="#" class="linkl">Pop</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="linkl">Arte <img class="seta" src="../assets/images/seta-baixo.png"></a></a>
            <div class="sub-menu">
                <ul id="ul-submenu">
                    <li><a href="#" class="linkl">Exposição</a></li>
                    <li><a href="#" class="linkl">Artistas do nosso cotidiano</a></li>
                    <li><a href="#" class="linkl">Arte de rua</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#" class="linkl">Vestibular</a>
        </li>

        <li>
            <a href="#" class="linkl">Feedback</a>
        </li>

        <li>
            <a href="#" class="linkl">Contato</a>
        </li>

    </ul>
</nav>
    <a href="../index.html"><img src="../assets/images/escrita.jpg" width="15%" height="15%" id="logoc"></a>
    <a href="../index.html"><img src="../assets/images/desenho.jpg" width="5%" height="5%" id="iconr"></a>
        </div>
    </header>
</body>
</html>